@import url("./font/font.css");
@import "tailwindcss";

@theme {
  @keyframes swing {
    0%,
    100% {
      transform: rotate(0deg);
    }
    25% {
      transform: rotate(-8deg);
    }
    50% {
      transform: rotate(6deg);
    }
    75% {
      transform: rotate(-4deg);
    }
  }
}
